@using WebMobileStore.Models.Entity
@model IEnumerable<Categories>

<div class="ms-2 mx-2">
    <h1>Danh sách danh mục & thương hiệu</h1>
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Mã danh mục</th>
                <th>Tên danh mục</th>
                <th>Thương hiệu liên quan</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cate in Model)
            {
                <tr>
                    <td>@cate.CategoryId</td>
                    <td>@cate.CategoryName</td>
                    <td>
                        @if (cate.Brands != null && cate.Brands.Any())
                        {
                            <ul>
                                @foreach (var brand in cate.Brands)
                                {
                                    <li>@brand.BrandName</li>
                                }
                            </ul>
                        }
                        else
                        {
                            <em>Không có thương hiệu</em>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
