
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Đăng nhập</title>

    <link rel="stylesheet" href="~/css/user.css" asp-append-version="true">
</head>


<form class="card" asp-controller="User" asp-action="Login" method="post" autocomplete="off" novalidate>
    <h1>Đăng nhập</h1>

    <div class="field">
        <label for="email" class="req">Email</label>
        <input type="email" id="email" name="email" placeholder="you@example.com" required />
    </div>

    <div class="field">
        <label for="password" class="req">Mật khẩu</label>
        <input type="password" id="password" name="password" placeholder="Mật khẩu" required />
    </div>

    @if (ViewBag.LoginError != null)
    {
        <div class="error-message">@ViewBag.LoginError</div>
    }

    <div style="display:flex;justify-content:space-between;align-items:center;margin-top:10px">
        <a asp-controller="User" asp-action="Create" class="small">Chưa có tài khoản?</a>
        <button class="btn" type="submit">Đăng nhập</button>
    </div>
</form>

</html>